*{
    margin: 0;
    padding: 0;
    
}

/* Utilize a unidade de medida em */

/* Nesse projetinho, vc pode utilizar 
    margin, margin-top/left, padding, height. backgound-color, cursor-pointer, text-align:center
*/

body{
   background-color: #ccc;
}




header{
    background-color: rgb(0, 140, 255);
    padding: 1em;
    height: 4vw;
}

.logo{
   
    color: orange
}

main{
    height: 100vh;
}


section{    
    padding: 5em;
    border: 1em solid rgb(0, 140, 255);
    border-radius: 25px;
    height: 0.5vh;
    margin: 2em;
    color: white;
    background-color: rgb(0, 140, 255);
}

.item-1{
    float: left;
    border-radius: 25px;
}


.item-2{
    border-radius: 25px;
    float: right;
}


.preco{
    margin-top: 10vh;
}

img{
    width: 10vw;
    border-radius: 5px;
}


button{
    margin-top: 2em;
    background-color: orange;
    color: white;
    padding: 0.5vw;
    border-radius: 10px;
    width: 10vw;
    height: 2vw;
    border: 0px;
}

button:hover{
    background-color: rgb(7, 5, 0);
    color: orange;
}


footer{
    padding: 2em;
}


.footer-text{
    margin-top: 20px;
    text-align: center;
}